<div class="relative bg-white items-center justify-center w-full overflow-x-hidden lg:pt-0 mt-12 mb-4">
    <div class="flex justify-center">

    </div>
    <div class="w-full md:w-auto order-first md:mt-20">
        <div class="flex justify-center">
            <h2 class="text-4xl tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl text-center  text-gray-900">
                This Domain is reserved by Matt Holmes
            </h2>
        </div>
        <p class="mx-auto max-w-3xl text-center text-lg font-normal text-gray-500 lg:text-xl sm:mt-6 mb-12">
            <span class="inline-block">Intrested? <a href="#" class="hover:text-blue-500"><u>Contact us</u></a> right now</span>
        </p>
        <!-- <div class="relative max-w-2xl mx-auto flex justify-center items-center" data-aos="fade-up"
            data-aos-delay="200">
            <a href="https://youtu.be/wzWoEQARQaQ" class="glightbox-hero">

                {{ with resources.Get "images/machines/food-spraying-machine.gif" }}
                {{ $medium := (.Resize "550x gif q100").RelPermalink }}
                {{ $featuredimage := (.Resize "900x gif q100").RelPermalink }}

                <img class="mx-auto rounded-xl" src="https://giphy.com/embed/4EFfs0K9mBhxuy8piu" srcset="
                {{- with $medium -}}, {{.}} 550w{{- end -}}
                {{- with $featuredimage -}}, {{.}} 900w{{- end -}}" width="424" height="204"
                    alt="Satrun Spraying Introduction video" />
                {{ end }}
            </a>
            <a href="https://youtu.be/wzWoEQARQaQ" class="glightbox-hero absolute group">
                <svg class="w-16 h-16 sm:w-20 sm:h-20 hover:opacity-75 transition duration-150 ease-in-out"
                    viewBox="0 0 88 88" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient x1="78.169%" y1="9.507%" x2="24.434%" y2="90.469%" id="a">
                            <stop stop-color="#EBF1F5" stop-opacity=".8" offset="0%" />
                            <stop stop-color="#EBF1F5" offset="100%" />
                        </linearGradient>
                    </defs>
                    <circle fill="url(#a)" cx="44" cy="44" r="44" />
                    <path class="fill-current text-primary"
                        d="M52 44a.999.999 0 00-.427-.82l-10-7A1 1 0 0040 37V51a.999.999 0 001.573.82l10-7A.995.995 0 0052 44V44c0 .001 0 .001 0 0z" />

                </svg>
            </a>
        </div> -->
    </div>

</div>
{{ partial "road_links.html" . }}